.container-lg{
    margin: 100px auto;
    border: 2px solid black;
}

.card{
    padding: 10px;
    border: 0;
}

.heading h6{
    margin-top: -20px;
    margin-left: 15px;
    padding-left: 5px;
}

.heading h4, p{
    padding-left: 2.5px;
}

.card .para{
    background-color: lightskyblue;
    color: rgb(24, 70, 196);
    border-radius: 5px;
    padding: 10px;
}

.card .para .opt{
    background-color: gray;
    padding: 2px;
    color: white;
    border-radius: 3px;
}

.card .para-2{
    padding: 10px;
}

.card-body .btn-group{
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}



